<?xml version="1.0" encoding="UTF-8" ?>

<!--
    关于日志的路径
    要先去建好这个目录 /var/log/tomcat/sell，否则会报错
    Linux/Mac 下，还要给予可写权限: sudo chmod -R 777 /var/log/tomcat/sell/
    window路径格式类似: <fileNamePattern>D:/var/log/tomcat/sell/</fileNamePattern>
    %d代表日志输出的日期   %mes代表日志的信息   %n代表换行
-->

<configuration>
    <!--appender就是一个小的配置项  consoleLog这个配置项需要用到ConsoleAppender类去处理-->
    <!--配置控制台日志的输出格式-->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <!--展示的一个配置-->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--具体的日志格式-->
            <pattern>
                %d - %msg%n
            </pattern>
        </layout>
    </appender>

    <!--配置文件日志的输出格式-->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--文件中过滤有关error的日志-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
        <!--滚动策略(滚动方案)  按照时间来滚动,每天一个-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件路径-->
            <fileNamePattern>/var/log/tomcat/sell/info.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!--让error日志独立输出到另外一个文件中-->
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--error文件只显示有关error的日志-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
        <!--滚动策略(滚动方案)  按照时间来滚动,每天一个-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件路径-->
            <fileNamePattern>/var/log/tomcat/sell/error.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <root level="info">
        <!--配置控制台日志输出  ref对应配置项-->
        <appender-ref ref="consoleLog"/>
        <appender-ref ref="fileInfoLog"/>
        <appender-ref ref="fileErrorLog"/>
    </root>
</configuration>